<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <h1 class="text-center text-white">Health Services Hackathon</h1>
        <div class="d-flex flex-row">
            <a href="/login"><button type="button" class="btn bg-primary mx-2 font-weight-bold">Log in</button></a>
            <a href="/register"><button type="button" class="btn bg-primary mx-2 font-weight-bold">Sign up</button></a>
        </div>
    </div>
    <% include ../partials/scripts %>
</body>

</html>