<html>

<head>
    <% include ../partials/head %>
    <style>
        .border-primary {
            border-color: #e2ea6e !important;
        }

        .tasks-row {
            height: 85%;
        }
    </style>
</head>

<body class="has-drawer">
    <% include ../partials/drawer %>
    <h2 class="text-white text-center">Planner</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm border border-4 border-primary text-white text-center">
                Monday
            </div>
            <div class="col-sm border border-4 border-primary text-white text-center">
                Tuesday
            </div>
            <div class="col-sm border border-4 border-primary text-white text-center">
                Wednesday
            </div>
            <div class="col-sm border border-4 border-primary text-white text-center">
                Thursday
            </div>
            <div class="col-sm border border-4 border-primary text-white text-center">
                Friday
            </div>
            <div class="col-sm border border-4 border-primary text-white text-center">
                Saturday
            </div>
            <div class="col-sm border border-4 border-primary text-white text-center">
                Sunday
            </div>
        </div>
        <div class="tasks-row row">
            <div class="col-sm border border-4 border-primary text-center">
                <div class="card my-2 p-2 bg-success">I went to watch a movie with some friends</div>
                <div class="card my-2 p-2 bg-danger">I felt fat</div>
            </div>
            <div class="col-sm border border-4 border-primary text-center">
                <div class="card my-2 p-2 bg-success">I no longer feel as fat</div>
                <div class="card my-2 p-2 bg-success">I went to the club with some friends</div>
                <div class="card my-2 p-2 bg-danger">I am stressed because of work</div>
            </div>
            <div class="col-sm border border-4 border-primary text-center">
                <div class="card my-2 p-2 bg-success">I got in touch with an old friend</div>
            </div>
            <div class="col-sm border border-4 border-primary text-center">

            </div>
            <div class="col-sm border border-4 border-primary text-center">

            </div>
            <div class="col-sm border border-4 border-primary text-center">

            </div>
            <div class="col-sm border border-4 border-primary text-center">

            </div>
        </div>
    </div>
    <% include ../partials/scripts %>
</body>

</html>