<html>

<head>
    <% include ../partials/head %>
    <style>
        .quiz-answer-card {
            width: 150px;
        }

        .quiz-answer-card:hover,
        .quiz-answer-card:focus {
            background-color: #afc6f7 !important
        }

        img {
            width: 175px;
        }
    </style>
</head>

<body class="has-drawer">
    <div class="quiz d-flex flex-column align-items-center justify-content-center h-100">
        <img src="/happiness.png"></img>
        <h1 class="px-5 py-2 text-white border-bottom border-2 my-3"><%=questionTitle%></h1>
        <div class="d-flex flex-row justify-content-around w-100">
            <a href="/checkup?delta=-0.2" class="card quiz-answer-card bg-primary my-4 text-center font-weight-bold">
                <div class="card-body">
                    Really bad
                </div>
            </a>
            <a href="/checkup?delta=-0.1" class="card quiz-answer-card bg-primary my-4 text-center font-weight-bold">
                <div class="card-body">
                    Bad
                </div>
            </a>
            <a href="/checkup?delta=0" class="card quiz-answer-card bg-primary my-4 text-center font-weight-bold">
                <div class="card-body">
                    Okay
                </div>
            </a>
            <a href="/checkup?delta=0.1" class="card quiz-answer-card bg-primary my-4 text-center font-weight-bold">
                <div class="card-body">
                    Good
                </div>
            </a>
            <a href="/checkup?delta=0.2" class="card quiz-answer-card bg-primary my-4 text-center font-weight-bold">
                <div class="card-body">
                    Really good
                </div>
            </a>
        </div>
    </div>
    <% include ../partials/scripts %>
</body>

</html>