body {
    background-color: #574d68;
}

.bg-primary{
    background-color: #e2ea6e !important;
}

.text-primary{
    color: #e2ea6e !important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover{
    background-color:#afc6f7 !important;
}

a.text-primary:focus, a.text-primary:hover, button.text-primary:focus, button.text-primary:hover{
    color:#afc6f7 !important;
}